@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android'; 
    src: url('../pacote-projeto-d010/fontes/idroid.otf')format('opentype');
    font-weight: normal; 

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(255, 255, 255, 0.685);
   font-family: var(--fontepadrao);
}

a.externo::after{
    content: '\1F517';
}

:root{
    --cor0:#c5ebd6;
    --cor01:#83e1ad;
    --cor02:#3ddc84;
    --cor03:#2fa866;
    --cor04:#1a5c37;
    --cor05:#063d1e;

    --fontepadrao: arial,verdana,helvetica,sans-serif ;
    --fontedestaque: 'bebas neue, cursive ' ;
    --fontandroid: 'android', 'cursive'; 
}
header{
    background-color: var(--cor04);
    min-height: 150px;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    
}

header > h1{
    color:var(--cor03) ;
    font-family: var(--fontedestaque);
    color: white;
    text-align: center;
    font-size: 2.1em;
    text-shadow: 2px 2px 0px black;
}

header > p{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 1.2em;
    font-family: var(--fontepadrao);
    padding-left: 10px;
    padding-right: 10px;
}
nav{
    background-color: var(--cor05);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.199);
    padding: 10px;
}

nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition-duration: .2s;
    margin-left: 10px;

}

nav > a:hover{
    background-color:var(--cor03);
    color: var(--cor05);
    text-decoration: underline;
    border-radius: 10px;
}

main{
    background-color: white;
    margin: auto ;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    min-width: 300px;
    max-width: 800px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor05);
    font-family: var(--fontandroid);
    line-height: 3em;
}

main p{
    margin: 10px 15px;
    text-align: justify;
    line-height: 2em;
}
main h2{
    font-family: var(--fontandroid);
    font-size: 1.3em;
    line-height: 3em;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}

main strong{
    color: var(--cor05);
    padding: 3px;
    font-weight: bold;
}

main a{
    text-decoration: none;
    background-color: var(--cor03);
    color:black;
    font-weight: bold;
    padding: 2px;
}

main a:hover{
    text-decoration: underline;
}

aside{
    background-color: var(--cor01);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
}
aside h3{
    background-color: var(--cor04);
    color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    font-weight: lighter;
    text-align: center;
}

aside ul{
    columns: 2;
    list-style: inside;
    list-style-type: '\2714\00A0\00A0';
}


footer{
    background-color: var(--cor04);
    text-align: center;
    color: white;
    padding: 10px;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    font-weight: bold;
    font-size: 0.8em;

}

footer a{
    text-decoration: none;
    color: var(--cor02);
}

footer a:hover{
    text-decoration: underline;
}

div.video{
    background-color: var(--cor05);
    border-radius: 10px;
    margin:0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;

    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

